/* Type face for labels and heading */
@font-face {
            font-family: "Trajan_Bold";
            src: url("TrajanPro-Bold.otf");
        }
        @font-face {
            font-family: "Trajan";
            src: url("TrajanPro-Regular.ttf");
        }
/* Background settings for the entire page */
body {

    background:url(../images/head.png) center;

    
  }
  /* Set font to labels button and heading */
  button,label,h1{
    font-family: 'Trajan_Bold', sans-serif;


  }

  h1{padding-top: 40px;
    padding-bottom: 30px;

}
/* Style article form */
#ArticleForm {
    background:url(../images/formback.png) center;
    background-repeat: repeat;
    max-width:74%;
    margin: 0 auto;
    padding-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 150, 40, 0.5);
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;


  }

  label {
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    display: block;
  }
/* this is for title text area */
  #ArticleForm input[type="text"],
  textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  /* button format and positioning */
  .button-container {
    margin-top: 0px;
      text-align: right;
      width: 90%;
    }

    #formbutton {
    background-color: rgb(199, 115, 56);
    color: #fff;
    padding: 10px 5px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;

    margin-bottom: 60px;
  }

  #formbutton:hover {
    background-color: #000;
  }



    #textInput,
    #titleInput,
    #tagsInput,
    #suggestedWords
     {
      border: 1px solid #ccc;
      margin-bottom: 20px;
      padding: 5px;
      width: 100%;
      min-height: 50px;
      

    }
    #textInput{
      
      margin-top: 20px;
      padding-top: 20px;

    }

    #textInput:focus,
    #titleInput:focus,
    #tagsInput:focus,
    #suggestedWords:focus {
      outline: none;
    }
    #wordCountDisplay{
      position: absolute;
      padding-left: 5px;
      padding-top: 5px;
      color: #999;

    }
    #wordCountMessage {
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 20px;
      background-color: #fff;
      border: 1px solid #ccc;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
#tags_lbl{
  position: absolute;
}
#user_lbl{
position: relative;
margin-top: 50px;
	
}
#dir_lbl{
margin-top: 40px;

}
/* The search field */
#myInput {
  box-sizing: border-box;
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 20px;
  border: none;
  border-bottom: 1px solid #ddd;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {outline: 3px solid #ddd;}

/* The main directory dropdown container */
  .dropdown {
            display: block;
        }
        /* dropdown  styling */
        .list_content {
          position: absolute;
            margin-top: 20px;
            display: block;
            background-color: rgb(255, 243, 235);;
            width: 500px;
            border: 1px solid #ddd;
            z-index: 1;
            overflow-y: auto; /* vertical scrollbar  */
            max-height: 150px; 
        }

        .list_content div {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: none;

        }
/* Option styling */
.option:hover {background-color: #ddd}

/* Table container size formatting */
#Table_Container{
text-align: center;
font-size: 24px;
width: 100%;
margin-top: 20px;
padding-bottom: 80px;

}

#FormTable {
  font-size: 14px;
  width: 100%;
  border-collapse: collapse; /* Remove dublicate borders */
  background-color: white;
  margin: auto; /* Center*/
  margin-top: 20px; 

}
/* Table Headings and data */
#FormTable th, #FormTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;

}
#FormTable th {
  background-color: #f2f2f2;
}

#FormTable tbody tr:hover {
  background-color: rgba(166, 236, 217, 0.3);
}